        <section>
          <div class="container-fluid">
            <h4 class="page-header clearfix mt0">Knob</h4>
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Default</div>
                  <div class="card-body text-center">
                    <input id="knob-chart1" type="text" value="80" data-max="100">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Ready only</div>
                  <div class="card-body text-center">
                    <input id="knob-chart2" type="text" value="45" data-max="100">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Offset and arc</div>
                  <div class="card-body text-center">
                    <input id="knob-chart4" type="text" value="20" data-max="100">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Display previous</div>
                  <div class="card-body text-center">
                    <input id="knob-chart3" type="text" value="30" data-max="100">
                  </div>
                </div>
              </div>
            </div>
            <h4 class="page-header clearfix">Easypie Charts</h4>
            <div class="row">
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Default</div>
                  <div class="card-body text-center">
                    <div id="easypiechart1" data-percent="85" class="easypie-chart"><span>85</span></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Slim</div>
                  <div class="card-body text-center">
                    <div id="easypiechart2" data-percent="45" class="easypie-chart"><span>45</span></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Track color</div>
                  <div class="card-body text-center">
                    <div id="easypiechart3" data-percent="25" class="easypie-chart"><span>25</span></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                <div class="card">
                  <div class="card-heading">Scale color</div>
                  <div class="card-body text-center">
                    <div id="easypiechart4" data-percent="60" class="easypie-chart"><span>60</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>